# Generated project
# Temporary Python files
*$py.class
*,cover
*.DS_Store
*.egg
*.egg-info/
*.iml
*.ipr
*.iws
*.log
*.manifest
*.mo
*.pot
*.py[cod]
*.pyc
*.so
*.spec
*.xml
._*
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.cache
.com.apple.timemachine.donotpresent
.coverage
.coverage.*
.DocumentRevisions-V100
.eggs/
.fseventsd
.hypothesis/
.idea
.idea_modules/
.installed.cfg
.LSOverride
.pytest_cache/
.Python
.Spotlight-V100
.TemporaryItems
.tox/
.Trashes
.VolumeIcon.icns
/*.egg-info
/.eggs/
/.venv/
/build/*
/dist
/TemplateDemo/
/tmp/
__pycache__/
build/
coverage.xml
develop-eggs/
dist/
docs/_build/
downloads/
eggs/
env/
htmlcov/
lib/
lib64/
Network Trash Folder
nosetests.xml
output/
parts/
pip-delete-this-directory.txt
pip-log.txt
python_boilerplate/
sdist/
target/
Temporary Items
var/
