[[source]]
url = "https://pypi.org/simple/"
verify_ssl = true
name = "pypi"

[dev-packages]
bump2version = "*"
codecov = "*"
coverage = "*"
fixtures = "*"
flake8 = "*"
green = "*"
mock = "*"
pydocstyle = "*"
pylama = "*"
pylint = "*"
pyyaml = "==4.2b4"
requests = "*"
responses = "*"
setuptools = "*"
testtools = "*"
twine = "*"
unittest2 = "*"
wheel = "*"
yamllint = "*"

[packages]
requests = "< 3"
