---
name: checks
permissions:
  contents: read
  pull-requests: read
"on":
  pull_request:
    branches:
      - main

jobs:
  conventional-commits:
    permissions:
      contents: read
      pull-requests: write
    uses: broadinstitute/shared-workflows/.github/workflows/conventional-commit.yaml@v5.0.1
  linting:
    uses: broadinstitute/shared-workflows/.github/workflows/python-lint.yaml@v5.0.1
  pre-commit:
    uses: broadinstitute/shared-workflows/.github/workflows/pre-commit.yaml@v5.0.1
  unit-tests:
    uses: broadinstitute/shared-workflows/.github/workflows/python-unit-test.yaml@v5.0.1
    with:
      python_package_name: cert_manager
